body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    padding: 10px 20px;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a#logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

nav ul li a:hover {
    text-decoration: underline;
}

#auth-buttons {
    display: flex;
}

#auth-buttons button {
    background-color: white;
    color: #28a745;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
}

#auth-buttons button:hover {
    background-color: #f4f4f4;
}

main {
    flex: 1;
}

#hero {
    background: url('/images/hero.webp') no-repeat center center/cover;
    color: white;
    padding: 100px 20px;
    text-align: center;
}

#hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

#hero p {
    font-size: 24px;
    margin-bottom: 20px;
}

#hero button,#about button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

#hero button:hover,#about button:hover {
    /* background-color: #218838; */
    background: linear-gradient(11deg, #c83852, #b44092 50%, #6a5fc1);
    transition: 0.3s;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

#products, #farmers {
    padding: 60px 20px;
    background-color: #fff;
    text-align: center;
}

#products h2, #farmers h2 {
    font-size: 36px;
    margin-bottom: 40px;
}

.filters {
    margin-bottom: 20px;
}

.filters label {
    font-size: 16px;
    margin-right: 10px;
}

.filters select {
    padding: 5px;
    font-size: 16px;
}

.product-list, .farmer-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer ul{
    list-style-type: none;
      
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#login-form {
    display: flex;
    flex-direction: column;
}

#login-form input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#login-form button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#login-form button:hover {
    background-color: #218838;
}
